.subCont .chart-wrap{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #eaeaea;
}
.subCont .chart-wrap .chart{
    width: 300px; float: left;
    text-align: center; margin-bottom: 50px;
}
.subCont .chart-wrap .chart > span {
    font-size: 20px; display: inline-block; margin-bottom: 20px;
}
.subCont .chart-wrap .chart .chart-text {
    font-size: 80px;
    font-weight: 500;
    line-height: 180px;
}
.paging{
    text-align: center; margin: 50px 0; 
}
.paging > span{
    display: inline-block; margin: 0 10px;
}
.paging .now{
    font-weight: 600;
    border-bottom: 2px solid;
}
.search-wrap {
    text-align: center; margin-top: 30px;
}
.search-wrap #search-text{
    width: 300px; height: 40px; border-radius: 20px; border: 0; padding-left: 30px;
}
.search-wrap #search-text{
    outline: none;
}
.search-wrap #btn{
    display: inline-block; width: 80px; height: 30px; border: 1px solid; line-height: 30px; margin-left: 10px;
    cursor: pointer; color: #fff; background: #333; 
}